/* Estilos festivos */
body {
    margin: 0;
    padding: 0;
    font-family: Calibri, sans-serif; /* Usando fonte Calibri */
    background: linear-gradient(to bottom, #FF1493, #FFFFFF); /* Fundo degradê de rosa para branco */
}

.festive-text {
    color: white; /* Cor do texto em branco */
    text-align: center;
    margin: 0;
    padding: 20px;
}
