/* Estilos para tela inteira */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Fundo degradê rosa para branco */
body {
    background: #F0DCD5;
}

/* Estilos festivos */
.festive-text {
    font-family: Arial Rounded MT; /* Fonte Calibri */
    font-size: 18px; /* Tamanho da fonte desejado */
    letter-spacing: normal; /* Espaçamento simples */
    text-align: center; /* Centraliza o texto */
    color: #694643;
    margin: 0;
}

/* Estilos para o contêiner de imagem */
#image-container {
    text-align: center; /* Centraliza a imagem */
}

/* Estilos para a imagem */
#daily-image {
    width: 90%; /* Ajusta a largura da imagem para a tela inteira */
}
